/* Reset des marges et des rembourrages par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #1f4151;
    color: white;
    text-align: center;
    padding: 1rem;
}

.souligne {
    font-weight: bold;
    text-decoration: underline;
}

.souligne1 {
    font-weight: bold;
    text-decoration: underline;
    color: #1f4151;
}

.paragraphe {
    padding: 1rem;
    text-align: center;
}

.contact {
    padding: 2rem;
    margin: -1rem;
    text-align: center;
    background-color: #f0f0f0;
}
fieldset{
    margin: -4px;
    padding: -5px
}
.profil img {
    width: 480px;
    height: 169px;
    border-radius: 50%;
}
img{
    border-radius: 15%;
}

.contact h1 {
    color: #1f4151;
}

.contact label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact input[type="text"],
.contact textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.contact button {
    background-color: #1f4151;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    background-color: #1f4151;
    color: white;
    text-align: center;
    padding: 1rem;
}

